<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="LA BROWS - Din plass for enkelhet, kjærlighet, og omsorg. Oppdag spesialtilbudene våre hver måned!" />
    <meta name="keywords" content="LA BROWS, skjønnhet, bryn, hår, spesialtilbud, Oslo, microblading, vippeløft" />
    <meta name="author" content="LA BROWS" />
    <meta property="og:title" content="LA BROWS | Skjønnhet og velvære i Oslo" />
    <meta property="og:description" content="Et sted for enkelhet, kjærlighet og omsorg. Spesialtilbud for våre kunder hver måned." />
    <meta property="og:image" content="/gfx/iStock-479936620.jpg" />
    <meta property="og:url" content="https://www.labrows.no" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>LA BROWS | Tjenester</title>
  </head>
  <body>
    <section class="front urbanist">
      <header>
        <%- include('components/navbar') %>
        <div class="introductionText">
          <div class="text">
            <h1>TJENESTER</h1>
            <p>
              Vi tilbyr tjenester som: <br />
             <span> Microblading, Microneedling <br>
              Brynslaminering, Forming og Farging av Bryn <br>
              Vippeløft / Farging av Vipper </span>
            </p>
          </div>
        </div>
      </header>
      <div class="imageContainer">
        <img src="/gfx/iStock-2180608003.jpg" alt="Studio bilde av LA BROWS" loading="lazy" />
      </div>
    </section>

    <section class="serviceContainer urbanist half">
        <div class="serviceText">
            <div class="info">
                <h3>MICROBLADING</h3>  
                <h2>Få naturlige og semi-permanente bryn</h2> 
                <h3>
                    Skap naturlig definerte bryn ved hjelp av håndtegnede strå. Microblading gir perfekte bryn som varer i opptil 1–2 år, og er skreddersydd til ansiktet ditt.
                </h3> 
            </div>
            <div class="reviews">
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>Lang varighet</h3>
                </div>
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>Ser naturlig ut</h3>
                </div>
                <%- include('components/bookingButton') %>

            </div>
        </div>
        <div class="serviceImage">
            <img src="/gfx/iStock-1348298392.jpg" alt="Studio bilde av LA BROWS" loading="lazy" />
        </div>
    </section>

    <section class="serviceContainer urbanist half">
        <div class="serviceText">
            <div class="info">
                <h3>MICRONEEDLING</h3>  
                <h2>Forbedrer hudens tekstur og reduserer linjer og arr</h2>  
                <h3>Forbedre hudens tekstur, redusere fine linjer, arr og pigmentering. Microneedling stimulerer kollagenproduksjon for en jevnere og fastere hud.</h3>    
            </div>
            <div class="reviews">
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>Rask & Effektiv</h3>
                </div>
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>Recovery 3-5 dager</h3>
                </div>
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>Positive tilbakemeldinger</h3>
                </div>
                <%- include('components/bookingButton') %>

            </div>
        </div>
        <div class="serviceImage">
            <img src="/gfx/iStock-1348298387.jpg" alt="Studio bilde av LA BROWS" loading="lazy" />
        </div>
    </section>

    <section class="serviceContainer urbanist half">
        <div class="serviceText">
            <div class="info">
                <h3>BRYNSLAMINERING</h3>  
                <h2>Styler og fikserer brynene for et fyldigere og veldefinert utseende.</h2> 
                <h3>
                    Fylligere og symmetriske bryn som holder formen i opptil 6 uker. Brynslaminering former brynene til ønsket stil og gir et løftet, fyldig utseende uten behov for gele.
                </h3> 
            </div>
            <div class="reviews">
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>6 uker varighet</h3>
                </div>
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>Uten behov for gele</h3>
                </div>
                <%- include('components/bookingButton') %>
            </div>
        </div>
        <div class="serviceImage">
            <img src="/gfx/iStock-1405867120.jpg" alt="Studio bilde av LA BROWS" loading="lazy" />
        </div>
    </section>

    <section class="serviceContainer urbanist half">
        <div class="serviceText">
            <div class="info">
                <h3>Forming og Farging av Bryn</h3>  
                <h2>Velstelte bryn som passer ditt ansikt.</h2> 
                <h3>
                    Få naturlige og definerte bryn med både forming og farging.
                </h3> 
            </div>
            <div class="reviews">
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>3–4 uker varighet</h3>
                </div>
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>Rensing, forming (med pinsett eller voks), og farging</h3>
                </div>
                <%- include('components/bookingButton') %>
            </div>
        </div>
        <div class="serviceImage">
            <img src="/gfx/iStock-1475361106.jpg" alt="Studio bilde av LA BROWS" loading="lazy" />
        </div>
    </section>

    <section class="serviceContainer urbanist half">
        <div class="serviceText">
            <div class="info">
                <h3>Vippeløft / Farging av Vipper</h3>  
                <h2>Naturlige og fremhevede vipper uten maskara.</h2> 
                <h3>
                    Kombiner løft og farge for et våkent blikk og mørkere, fyldigere vipper som varer i ukesvis.
                </h3> 
            </div>
            <div class="reviews">
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>6–8 uker varighet</h3>
                </div>
                <div class="review">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45zm.85-2.55l2.55-1.1l2.6 1.1l1.4-2.4l2.75-.65l-.25-2.8l1.85-2.1l-1.85-2.15l.25-2.8l-2.75-.6l-1.45-2.4L12 5.15l-2.6-1.1L8 6.45l-2.75.6l.25 2.8L3.65 12l1.85 2.1l-.25 2.85l2.75.6zm1.5-4.4L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12z" />
                    </svg>
                    <h3>Sparetid på sminking</h3>
                </div>
                <%- include('components/bookingButton') %>
            </div>


        </div>
        <div class="serviceImage">
            <img src="/gfx/iStock-1804532860.jpg" alt="Studio bilde av LA BROWS" loading="lazy" />
        </div>
    </section>

    <%# include('components/spesialtilbud') %>

    <%- include('components/footer') %>
  </body>
</html>
